<div class="video">
    <shortid style="display: none;">{{ short.id }}</shortid>

    <video class="video__player" src="/static/uploads/{{ short.url }}" loop controls></video>

    <!-- sidebar -->
    <div class="videoSidebar">
        <div class="videoSidebar__button" onclick="like(this)">
            <img src="/static/star-regular.svg" class="like_button_img">
            <p>{{ short.likes }}</p>
        </div>

        <div class="videoSidebar__button">
            <span class="material-icons"> message </span>
            <p>23</p>
        </div>

        <div class="videoSidebar__button" onclick="share(this)">
            <span class="material-icons"> share </span>
            <p>75</p>
        </div>
    </div>

    <!-- footer -->
    <div class="videoFooter">
        <div class="videoFooter__text">
            <h3>Somanath Goudar</h3>
            <p class="videoFooter__description">{{ short.title }}</p>

            <div class="videoFooter__ticker">
                <span class="material-icons videoFooter__icon"> music_note </span>
                <marquee>Song name</marquee>
            </div>
        </div>
        <img src="https://static.thenounproject.com/png/934821-200.png" alt="" class="videoFooter__record" />
    </div>
</div>