<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vidzy</title>
    <link rel="stylesheet" href="/static/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="topnav-right">
            <a>{{ session.username }}</a>
        </div>
    </div>

    <div class="app__videos">
        {% for short in shorts %}
        <!-- video starts -->
        <div class="video">
            <video class="video__player" src="{{ invidious_instance }}/latest_version?id={{ short.videoId }}&itag=22"
                loop controls></video>

            <!-- sidebar -->
            <div class="videoSidebar">
                <div class="videoSidebar__button">
                    <span class="material-icons"> favorite_border </span>
                    <p>12</p>
                </div>

                <div class="videoSidebar__button">
                    <span class="material-icons"> message </span>
                    <p>23</p>
                </div>

                <div class="videoSidebar__button">
                    <span class="material-icons"> share </span>
                    <p>75</p>
                </div>
            </div>

            <!-- footer -->
            <div class="videoFooter">
                <div class="videoFooter__text">
                    <h3>Somanath Goudar</h3>
                    <p class="videoFooter__description">{{ short.title }}</p>

                    <div class="videoFooter__ticker">
                        <span class="material-icons videoFooter__icon"> music_note </span>
                        <marquee>Song name</marquee>
                    </div>
                </div>
                <img src="https://static.thenounproject.com/png/934821-200.png" alt="" class="videoFooter__record" />
            </div>
        </div>
        <!-- video ends -->
        {% endfor %}
    </div>

    <script>
        var options = {
            root: document.querySelector('.app__videos'),
            rootMargin: '0px',
            threshold: 1.0
        };

        var ob = new IntersectionObserver((entries, observer) => {
            entries[0].target.currentTime = 0;
            entries[0].target.play();
        }, options);

        document.querySelectorAll('video').forEach((item) => {
            ob.observe(item);
        });


        const videos = document.querySelectorAll('video');

        for (const video of videos) {
            video.addEventListener('click', function () {
                console.log('clicked');
                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }
            });
        }
    </script>
</body>

</html>